* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: linear-gradient(hsl(190, 91%, 13%), hsl(190, 94%, 03%));
  display:block
}
header{
  color:linear-gradient(hsl(190, 91%, 13%), hsl(190, 94%, 03%));
  display:block;
  text-align: center;
  margin-top:20px;
 font-family: Audiowide;

}
#quote-box{
  height: auto;
  width:500px;
  margin:auto;
  margin-top:100px;
  border-radius: 15px;
  background:linear-gradient( hsl(0, 0%, 0%),hsla(253, 83%, 18%, 0.454));
  display: block;
}

 i.bi-chat-square-quote{
  display: inline-block;
  font-size: 60px;
 }

i.first{
  font-size: 3em;
  color:whitesmoke;
}
.talk{
  font-size:20px;
  font-family: Epilogue;
  text-align: center;
  color:azure;
  height:auto;
  width:450px;
  position: relative;
  left:20px;
  
}
#twee,#newquo{
  box-shadow:5px 5px 5px black;
}
#author{
  font-size: 15px;
  color:azure;
  max-height: 50px;
}
.auth{
  position: relative;
  max-width:150px;
  left:280px;
  bottom:30px;
  font-family: Josefin Slab;
  font-size: 18px;
}
i.byme{
  font-size: 30px;
  color: white;
  position: relative;
  left:220px
}

#tweet-quote{
  position: relative;
  width: 80px;
  left: 20px;
  top: 20px;
}
i.bi-twitter{
  color:white;
  font-size:25px;
}
#new-quote{
  position: relative;
  bottom: 20px;
  width: 120px;
  left:350px;
}
@media(max-width:1000px){
  header{
    margin-top: 200px;
  }
  i.bi-chat-square-quote{
    font-size: 150px;
   }
  .titles{
    font-size: 60px;
  }
  .talk{
    font-size: 50px;
    width:750px
  }
  #quote-box{
    width:800px;
  }
  i.byme{
    left:400px;
    font-size: 50px;
  }
.auth{
  left:500px;
  font-size: 35px;
  max-width: 300px;
}
#new-quote{
left:500px;
bottom: 40px;
}
#tweet-quote{
  left:80px;
  top: 40px;
}
#newquo{
  width:200px;
  height:80px;
}
#twee{
  width:200px;
  height:80px
}
#sas{
  font-size: 30px;
}
i.bi-twitter{
  font-size:50px;
}
i.first{
  font-size: 80px;
}
}